{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "@typescript-eslint/prefer-optional-chain": "error",
    "@typescript-eslint/brace-style": "error",
    "no-dupe-class-members": "off",
    "@typescript-eslint/no-dupe-class-members": "error",
    "no-unused-vars": ["off"],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "no-redeclare": "off",
    "@typescript-eslint/no-redeclare": "error",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": [
      "error",
      {
        "enums": false,
        "functions": false
      }
    ],
    "@typescript-eslint/type-annotation-spacing": "error",
    "@typescript-eslint/await-thenable": "error",
    "@typescript-eslint/prefer-nullish-coalescing": "error",
    "array-bracket-spacing": 1,
    "arrow-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "brace-style": "error",
    "camelcase": "off",
    "comma-dangle": ["error", "never"],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "consistent-return": "off",
    "curly": "error",
    "default-case": "off",
    "eqeqeq": [
      "error",
      "always",
      {
        "null": "ignore"
      }
    ],
    "func-names": "off",
    "func-style": ["error", "declaration"],
    "guard-for-in": "error",
    "id-length": [
      "off",
      {
        "min": 3,
        "exceptions": [
          "i",
          "e",
          "bv",
          "cv",
          "a",
          "b",
          "_",
          "fs",
          "rp",
          "$",
          "db",
          "iv",
          "to",
          "qs",
          "io",
          "id",
          "bi",
          "S3",
          "s3",
          "ip",
          "os"
        ],
        "properties": "never"
      }
    ],
    "@typescript-eslint/indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "key-spacing": [
      "error",
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "max-len": [
      "error",
      140,
      {
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreComments": true
      }
    ],
    "new-cap": [
      "error",
      {
        "newIsCapExceptions": [
          "acl.memoryBackend",
          "acl",
          "mongoose",
          "mongoose.Schema",
          "mongoose.Types.ObjectId",
          "mongodbBackend",
          "Buffer.from"
        ],
        "capIsNewExceptions": [
          "Joi",
          "Schema",
          "mongoose.Schema",
          "ObjectId",
          "JSONify"
        ]
      }
    ],
    "no-undef": "error",
    "no-async-promise-executor": "error",
    "no-bitwise": "off",
    "no-caller": "error",
    "no-case-declarations": "off",
    "no-console": "off",
    "no-const-assign": "error",
    "no-control-regex": "off",
    "no-dupe-keys": "error",
    "no-else-return": "off",
    "no-empty-class": "off",
    "no-empty": [
      "error",
      {
        "allowEmptyCatch": true
      }
    ],
    "no-extra-semi": "error",
    "no-fallthrough": "error",
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 5,
        "maxBOF": 0
      }
    ],
    "no-param-reassign": "off",
    "no-prototype-builtins": "error",
    "no-self-compare": "error",
    "no-shadow": "off",
    "no-spaced-func": "error",
    "no-throw-literal": "error",
    "no-trailing-spaces": "error",
    "no-underscore-dangle": "off",
    "no-unneeded-ternary": [
      "error",
      {
        "defaultAssignment": false
      }
    ],
    "no-unreachable": "error",
    "no-unused-expressions": "off",
    "no-useless-rename": "error",
    "no-var": ["error"],
    "no-whitespace-before-property": "error",
    "node/exports-style": ["error", "module.exports"],
    "node/handle-callback-err": "error",
    "node/no-extraneous-import": "off",
    "node/no-sync": "error",
    "node/no-unpublished-import": [
      "error",
      {
        "allowModules": ["sinon"]
      }
    ],
    "node/prefer-global/buffer": "error",
    "node/prefer-global/console": "error",
    "node/prefer-global/process": "error",
    "node/prefer-promises/dns": "error",
    "node/prefer-promises/fs": "error",
    "node/no-path-concat": "error",
    "node/no-missing-import": "off",
    "node/no-unsupported-features/es-syntax": "off",
    "object-curly-spacing": "off",
    "@typescript-eslint/object-curly-spacing": ["error", "always"],
    "object-shorthand": "error",
    "one-var-declaration-per-line": ["error", "always"],
    "one-var": ["error", "never"],
    "padded-blocks": "off",
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": {
          "array": true,
          "object": true
        },
        "AssignmentExpression": {
          "array": true,
          "object": false
        }
      }
    ],
    "prefer-template": "error",
    "quote-props": ["error", "as-needed"],
    "quotes": ["error", "single"],
    "require-await": "error",
    "semi-spacing": "error",
    "@typescript-eslint/semi": "error",
    "space-before-blocks": ["error", "always"],
    "space-in-parens": ["error", "never"],
    "@typescript-eslint/space-before-function-paren": ["error", "never"],
    "@typescript-eslint/space-infix-ops": "error",
    "spaced-comment": ["error", "always"],
    "strict": "off",
    "template-curly-spacing": ["error", "never"],
    "unicorn/numeric-separators-style": "error",
    "unicorn/prefer-module": "off",
    "unicorn/no-useless-undefined": "error",
    "unicorn/consistent-function-scoping": "error",
    "unicorn/prefer-node-protocol": "error",
    "wrap-iife": ["error", "outside"],
    "you-dont-need-lodash-underscore/get": "off",
    "you-dont-need-lodash-underscore/omit": "off",
    "node/no-process-env": "error",
    "import/no-unresolved": "off"
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "plugins": ["@typescript-eslint", "unicorn", "typescript"],
  "extends": [
    "eslint:recommended",
    "plugin:you-dont-need-lodash-underscore/compatible",
    "plugin:import/recommended",
    "plugin:node/recommended"
  ],
  "overrides": [
    {
      "files": ["./src/**/*.test.ts"],
      "rules": {
        "unicorn/no-useless-undefined": "off",
        "unicorn/consistent-function-scoping": "off"
      },
      "env": {
        "mocha": true
      }
    }
  ]
}
